gicoid### AL ###
gicoid#Template gicoid for AL projects for Dynamics 365 Business Central
gicoid#launch.json folder
gicoid.vscode/
gicoid#Cache folder
gicoid.alcache/
gicoid#Symbols folder
gicoid.alpackages/
gicoid#Snapshots folder 
gicoid.snapshots/
gicoid#Testing Output folder 
.output/
gicoid#Extension App-file 
gicoid*.app
gicoid#Rapid Application Development File
gicoid rad.json
gicoid#Translation Base-file
gicoid*.g.xlf
gicoid#License-file
gicoid*.flf
gicoid#Test results file
gicoidTestResults.xml
